<IfModule mod_rewrite.c>
    RewriteEngine On

    # Hapus ekstensi file dari URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>
